
.table {
    padding: 5px;
    width: 80%;
    overflow-x: auto;

    .empt{
      text-align: center;
      width: 80%;
      margin:0 auto;
    }

  
    table {
      border-collapse: collapse;
      width: 100%;
      font-size: 1.4rem;

  
      thead {
        border: 0 solid #e5e7eb;
      }
  
      th {
        border: 1px solid #eee;
      }
  
      th,
      td {
        vertical-align: top;
        text-align: left;
        padding: 8px;
        &.icons {
          > * {
            margin-right: 5px;
            cursor: pointer;
          }
        }
      }
  
      tr {
        border: 1px solid #e5e7eb;
      }
  
      tr:nth-child(even) {
        // background-color: #eee;
      }
    }
    .summary {
      margin-top: 2rem;
      display: flex;
      justify-content: space-between;
      align-items: start;


  
      .card {
        padding: 2rem;
        width: 400px;
        border: 1px solid #e5e7eb;
        margin-top: 10px;
        .p{
          display: flex;
          justify-content: space-between;
          padding: 1rem;
          border-bottom: 1px solid #e5e7eb;
          

        }
          
          p  span{
            color: var(--color-danger);


          }
        }
        .tax{
          padding: 2rem;
          
        }
        button{
          margin: auto;
          width: 90%;
        }
      }
    }
  
  .count {
    display: flex;
    align-items: center;
    button {
      border: 1px solid var(--darkblue);
    }
    & > * {
      margin-right: 1rem;
    }
  }
